@font-face {
    font-family: 'Halyard Display';
    src: url('HalyardDisplay/HalyardDis-Regular.otf') format('opentype'),
      url('HalyardDisplay/HalyardDis-Regular.woff') format('woff'),
      url('HalyardDisplay/HalyardDis-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Halyard Display";
    src: url("HalyardDisplay/HalyardDisLt.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Halyard Display";
    src: url("HalyardDisplay/HalyardDis-Regular.otf") format("opentype"),
      url("HalyardDisplay/HalyardDis-Regular.woff") format("woff"),
      url("HalyardDisplay/HalyardDis-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Halyard Display";
    src: url("HalyardDisplay/HalyardDisMed.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  