body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  text-align: center;
}

:root {
  --preheader-backggound-color: #528a6c;
  --preheader-backggound-hover-color: #5b9c79;
  --preheader-btn-border-color: #3a614c;
  --sidebar-background-color: #80b397;
  --sidebar-background-color-opacity: #80b3974f;
  --sidebar-background-hover-color: #3d6650;
  --comment-page-background-color: #d7e1d8;
  --active-color: #0b2230;
  --active-text-color: #fff;
}
