@import "../../fonts/index.css";

.div {
  background: burlywood;
  font-family: Halyard Display, "Roboto Condensed";
  font-weight: 300;
}

.jpgContainer,
.svgContainer {
  display: flex;
}

.avaJpg {
  width: 200px;
}

.cssBackJpg {
  width: 200px;
  height: 228px;
  background-size: contain;
}

.cssBackSvg {
  background-image: url("../../img/all.svg");
  width: 50px;
  height: 50px;
}
